---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<nav class="bg-slate-800 p-12 rounded-b-2xl flex justify-between align-middle">
			<h1 class="text-center text-slate-200 font-bold text-3xl">Hello World</h1>
			<div class="text-slate-200 flex align-middle justify-between">
				<p class="pe-3">Otra cosa</p>
				<p class="">Sismos cargados: 0</p>
			</div>
		</nav>
	</main>
</Layout>